@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Archivo";
  src:
    url("./assets/fonts/Archivo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-size: normal;
}

@font-face {
  font-family: "Bord";
  src:
    url("./assets/fonts/Bord.ttf") format("truetype");
    font-weight: normal;
    font-size: normal;
}

h1 {
  font-family: 'Bord', sans-serif;
  background: #0E76D0;
  background: linear-gradient(to bottom, #0E76D0 20%, #044F9C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span,
p {
  font-family: 'Archivo', sans-serif;
}

#gradient-overlay {
  background: linear-gradient(
    rgba(36, 36, 36, 0.6),
    rgba(36, 36, 36, 0.625),
    rgba(36, 36, 36, 0.65),
    rgba(36, 36, 36, 0.675),
    rgba(36, 36, 36, 0.7),
    rgba(36, 36, 36, 0.725),
    rgba(36, 36, 36, 0.75),
    rgba(36, 36, 36, 0.8),
    rgba(36, 36, 36, 0.825),
    rgba(36, 36, 36, 0.85),
    rgba(36, 36, 36, 0.875),
    rgba(36, 36, 36, 0.9),
    rgba(36, 36, 36, 0.925),
    rgba(36, 36, 36, 0.95),
    rgba(36, 36, 36, 0.975),
    rgba(36, 36, 36, 1)
  );
}

#video-overlay {
  background: rgba(36, 36, 36, 0.75);
}

#hero-text span {
  color: white;
  font-family: 'Bord', sans-serif;
  font-weight: 800;
}

#game-name {
  color: white;
  font-family: 'Bord', sans-serif;
}

.wrapper {
  font-family: 'Bord', sans-serif;
}

#textSection {
  background: center / cover no-repeat url('../assets/contentBG.jpg');
}

/* Parallax Scroll Text */

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 1;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  color: black;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  font-size: 64px;
  white-space: nowrap;
  flex-wrap: nowrap;
}

@media (min-width: 1280px) {
  .parallax .scroller {
    font-size: 96px;
  }
}


.parallax span {
  display: block;
}

/* News Section */

#news-main {
  background: center / cover url('./assets/news/Immortal_pic.png');
}

#secondary-one {
  background: center / cover url('./assets/news/blizzcon_pic.png');
}

#secondary-two {
  background: center / cover url('./assets/news/D4_pic.png');
}

#game:hover > #arrow-icon {
  transform: rotate(90deg);
}

/* Footer Section */

#footer-hero {
  background: url('../src/assets/blizzFooterBG.png');
}

@media (min-width: 1280px) {
  #footer-hero {
    background: transparent;
  }
}